@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar (Opsional) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #171717; 
}
::-webkit-scrollbar-thumb {
  background: #CA8A04; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #EAB308; 
}